<h3>Listado de clientes</h3>

<div *ngIf="!clientes.length">No hay clientes Registrados</div>

<table *ngIf="clientes.length" class="table">
    <thead>
        <tr>
            <th>ID Cliente</th>
            <th>Nombre</th>
            <th>RFC</th>
            <th>Domicilio</th>
            <th>Tipo de cliente</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.rfc}}</td>
            <td>{{cliente.domicilio}}</td>
            <td>{{cliente.tipoCliente}}</td>
        </tr>
    </tbody>

</table>
<br/><br/>
<div *ngIf="clientes.length">
    <strong>Tipos de clientes</strong><br/>
    1: Clientes activos<br/>
    2: Clientes inactivos<br/>
    3: Clientes deudores <br/>
</div>